html, body, div#root {
  height: 100vh;
}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (2560 - 320))) !important;
}

input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
